*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 80%;
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
}

[class^=col-]{
  float: left;
  padding: 0 0.5em;
}

row:after{
  content: "";
  display: table;
  clear: both;
}


/* debug */
/* body.debug .h80{
  height: 80px;
  margin-top: 1em;
} */

/* body.debug .h250{
  height: 250px;
  margin-top: 1em;
} */

body.debug .h60{
  height: 60px;
  margin-top: 0em;
}

body.debug .h300{
  height: 300px;
  margin-top: 1em;
}

body.debug .h30{
  height: 30px;
  margin-top: 0.5em;
}

body.debug .h400{
  height: 400px;
  margin-top: 1em;
}

/* fine debug */

nav{
  margin-top: 16px;
}

a{
  text-decoration: none;
  color: #9E9E9E;
}

.font13{
  font-size: 13px;
}

.bg-yellow{
  margin-top: 1em;
  background-image: url("../img/banner.jpg");
  height: 313px;
  padding-top: 170px;
  }

.badge, .bg-yellow{
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  }

.badge{
  width: 100%;
  height: 130px;
}


.tit-page{
  width: 65%;
  margin-left: 30px;
}

.tit-page *{
  color: #fff;
  font-weight: 100;
}

.tit2 .font13, .grigio{
  color: #9E9E9E;
}

.badge{
  width: 100%;
  height: 40%;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.2);
}

.img1{
  background-image: url("../img/img-1.jpg");
}

.img2{
  background-image: url("../img/banner-2.jpg");
}

.img3{
  background-image: url("../img/img-3.jpg");
}

.center{
  text-align: center;
}

span.red{
  color: red;
}

.col-100{
  width: 100%;
}

/* .bg-lightblue{
  background-color: #0186FF;
} */

/* .bg-cyan{
  background-color: #ABCFE7;
} */

/* .bg-purple{
  background-color: #8801FE;
} */

.col-50{
  float: left;
  width: 60%;
}

.col-25{
  float: left;
  width: 20%;
  padding: 0;
}

.bg-lightblue .col-100{
  padding: 0;
}
